/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Open sans */

/* IBM Plex */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* IBM Plex Serif */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #010b18;
    --text: #C1E8FF;
    --accent: #5483B3;
    --primary: #052659;
    --secondary: #7DA0CA;
}

body {
    background-color: var(--background);
    color: var(--text);
}

hr {
    color: var(--primary);
}

li {
    list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;